@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind utilities;
@tailwind components;

* {
    font-family: "Montserrat", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #191919; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #585858d0; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #191919; /* creates padding around scroll thumb */
}
.no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.glasomorphism {
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 0px 10px 10px rgba(46, 54, 68, 0.03);
}

.my-text-shadow {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.fade-to-black:before {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 70%,
        // These three 'smooth' out the fade.
        rgba(0, 0, 0, 0.2) 80%,
        rgba(0, 0, 0, 0.7) 90%,
        rgba(0, 0, 0, 0.9) 95%,
        // Solid to match the background.
        rgba(0, 0, 0, 1) 100%
    );
}
