@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;800;900&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

* {
    font-family: "Roboto", sans-serif;
}

.coverShadow:hover > .videoTitle {
    margin-top: 0px;
}
.coverShadow:hover > .videoControls {
    margin-bottom: 0px;
}

.font-inconsolata {
    font-family: "Inconsolata", monospace;
}
#subtitle {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
